* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
.main-left {
    width: 260px;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #5655da;
}
.content-left {
    padding: 46px;
}
.content-left__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}
.content-left__img img {
    width: 100%;
    margin: 0 auto;
}
.content-left-info {
    margin:20px 0;
    color: #fff;
}
.content-left-info__name {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.content-left-info__work {
    color: #d8d8e9;
    font-size: 15px;
    font-weight: 300;
}
.content-left-social {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-left-navbar a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding-bottom: 15px 0;
}
.main-right{
    display: block;
    width:740px;
    float: right;
}
.content-right {
    padding: 60px 70px;
}
.content-item {
    margin-bottom: 40px;
}
.content__head {
    margin-bottom: 40px;
    color: #f74470;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px
}
.about-me__des {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px
}
.about-me__info {
    margin-top: 40px;
    font-size: 16px;
}
.about-me__info span {
    font-weight: bold;
    display: flex;
    padding: 7px 0;
}
.about-me__info span p {
    font-weight: normal;
    margin-left: 5px;
}
.skill-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px;
    width: 100%;
    flex-wrap: wrap;
}
.skill-item {
    background: #5655da;
    padding: 15px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
}
.skill-item:last-child {
    width: 100%;
    margin-top: 10px;
}
.skill-item i {
    font-size: 20px;
    text-align: center;
}